<div class="content">
  <div class="container">
    <div class="starter-template">
      <h1>About</h1>
      <p class="lead">TrackDuck is a web application that provides more functionality for managing Spotify playlists.
        <br>
        You can add and delete new playlists, and edit existing ones.
        <br>
        When editing playlists, you can add and remove songs across several at once, rather than editing each playlist one by one.
      </p>
    </div>
  </div>
  <div class="container">
    <p style="text-align: center;"><a class="btn btn-lg btn-primary" routerLink="/login" role="button">Open the app</a>
    </p>
    <div class="starter-template">
      <h1>Questions? Comments?</h1>
      <p class="lead">Contact us at <a href="mailto:info@trackduck.com">info@trackduck.com</a>
      </p>
    </div>
  </div>
</div>