.row {
    width: 100%;
    padding-top: 10px;
}

.column-header {
    text-align: center;
}

.scrollable-playlist {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    margin: 0;
}

.search-field {
  width: 100%;
}

.album-image {
  border: 1px solid #3FA23F;
  margin-right: 20px;
  margin-left: 15px;
  min-width: 64px !important;
  min-height: 50px !important;
  overflow: hidden;
  border-radius: 10px;

  img {
    min-width: 50px !important;
    min-height: 50px !important;
  }
}

.search-results {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    margin: 0;

    .track-box {
      cursor: default;
    }

    h3 {
      text-align: center;
    }

    .search-results-playlist {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .playlist-title {
        align-items: center;
        justify-content: flex-start !important;
        min-width: 1px;
        position: relative;
        height: 100%;
      }

      .playlist-actions {
        display: flex;
        flex: 1 0 auto;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
      }
    }
}

mat-card {
  margin: 10px;
  padding: 10px;

  .mat-card-image {
    width: calc(100% + 20px);
    margin: 0px -10px -10px -10px;
  }
}


.my-library-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-actions {
    form {
        display: inline;
    }

    button {
      margin: 5px !important;
    }
}

.no-tracks {
    text-align: center;
}

.selected-playlist {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    h4 {
        padding-top: 10px;
        text-align: center;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.track-box {
  cursor: move;
  position: relative;
  padding: 0;

  p {
    display: inline;
    color: darken(white, 20%);
  }

  .track-box-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px;

    .track-info {
      align-items: center;
      justify-content: flex-start !important;
      min-width: 1px;
      position: relative;
      height: 100%;
    }

    .add-song {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 30px;
      height: 100%;
    }

    .remove-song {
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
    }
  }
}

.playlist-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-progress-bar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.track-box:last-child {
    border: none;
}

.track-list.cdk-drop-list-dragging .track-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
    margin: 10px;
    background: #ccc;
    border: dotted 3px #999;
    min-height: 68px;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.overlay {
  opacity: 0.5;
}

.example-card {
  mat-card-header {
    display: flex;
    justify-content: space-between;

    div {
      margin: 3px;
    }
  }
}

.add-playlist:hover {
  opacity: .8;
}

.add-playlist {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #252525;
}

.input-container {
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: black;
    border-radius: 50%;
    transition: all .5s;
    z-index: 4;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: black;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 0 80px 0 20px;
    border-radius: 3px;
    transition: all .5s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

.dark-snackbar {
  background-color: #333333 !important;
}
