<div class="row">
  <div class="col-sm-4">
    <h1 class="column-header">Playlists</h1>
    <div class="scrollable-playlist">
      <mat-card
        *ngFor="let playlist of playlists"
        class="example-card">

        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle>{{playlist.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{playlist.images[0].url}} alt="">
        <mat-card-actions>
          <button (click)="getPlaylistsSongs(user.id, playlist)" mat-button>OPEN</button>
          <form action={{playlist.external_urls.spotify}} method="get" target="_blank">
             <button color="primary" mat-button target="_blank" >ON SPOTIFY</button>
          </form>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col-sm-8">
      <h1 class="column-header">Songs</h1>
    <div class="selected-playlist">
      <h4 *ngIf="currentPlaylist">{{currentPlaylist.name}}</h4>
      <div
        cdkDropList
        class="track-list"
        [cdkDropListData]="tracks"
        (cdkDropListDropped)="drop($event)"
        *ngIf="!!tracks">

        <mat-card class="track-box" *ngFor="let track of tracks" cdkDrag>
          <div class="custom-placeholder" *cdkDragPlaceholder></div>
         
          <span>
            <mat-icon class="play-button md-48">play_circle_outline</mat-icon> 
            <mat-icon class="pause-button md-48">pause_circle_outline</mat-icon>  
          </span>

          <div id= "track-info">
            <h5>
              <strong>{{track.track.name}}</strong>
            </h5>
            <p>
              {{track.track.artists[0].name}}
            </p>
          </div>

          <mat-icon class="clear-button" (click)="removeTrack(user.id, track.track, currentPlaylist.id)" color="warn">clear</mat-icon>
        </mat-card>
      </div>
      <div class="no-tracks" *ngIf="!tracks">
        <h3>
          No tracks available.
        </h3>
      </div>
    </div>
  </div>
</div>
