<mat-toolbar color="primary">
  <div class="input-container">
    <input class="search-field" (keyup.enter)="search(value)" [(ngModel)]="value" matInput placeholder="Search" value="">
    <div class="search"></div>
  </div>
</mat-toolbar>

<div class="row">
  <div class="col-sm-3">
    <div class="scrollable-playlist">
      <mat-card class="my-library-card">
        <h4>My Library</h4>
        <button (click)="getUserLibrary()" mat-button>OPEN</button>
      </mat-card>
      <mat-card
        *ngFor="let playlist of playlists"
        class="example-card">

        <mat-card-header>
          <mat-card-title>
            {{playlist.name}}
          </mat-card-title>
          <mat-icon *ngIf="!playlist.public">lock</mat-icon>
          <div [attr.data-playlist-id]="playlist.id" *ngIf="playlist.public" class="js-playlist-id">
            <mat-checkbox [(ngModel)]="playlist.selected" color="primary"></mat-checkbox>
          </div>
        </mat-card-header>
        <img *ngIf="playlist.images[0]" mat-card-image src={{playlist.images[0].url}} alt="">
        <img *ngIf="!playlist.images[0]" mat-card-image src="../../assets/img/logo.png" alt="">
        <mat-card-actions class="playlist-actions">
          <button (click)="getPlaylistsSongs(user.id, playlist)" mat-button>OPEN</button>
          <button color="warn" (click)="deletePlaylist(user.id, playlist)" mat-button>DELETE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card (click)="newPlaylistDialog()" class="add-playlist">
        <mat-icon color="primary">add_circle</mat-icon>
      </mat-card>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="selected-playlist">
      <mat-card *ngIf="!!currentPlaylist">{{currentPlaylist.name}}</mat-card>
      <mat-card *ngIf="!currentPlaylist">My Library</mat-card>
      <div
        cdkDropList
        class="track-list"
        [cdkDropListData]="tracks"
        (cdkDropListDropped)="drop($event)"
        *ngIf="!!tracks">

        <mat-card class="track-box" *ngFor="let track of tracks" cdkDrag>
          <mat-progress-bar color="primary" mode="determinate" [value]="track.track.popularity"></mat-progress-bar>
          <div class="custom-placeholder" *cdkDragPlaceholder></div>
          <div class="track-box-contents">
            <div class="add-song">
              <button mat-icon-button color="primary">
                <mat-icon (click)="addTrackToSelectedPlaylists(track.track.id)" class="">add</mat-icon>
              </button>
            </div>
            <div class="album-image">
              <img *ngIf="!!track.track.album.images[2]" src="{{track.track.album.images[2].url}}" alt="">
              <img *ngIf="!track.track.album.images[2]" src="/assets/img/logo.png" alt="">
            </div>
            <div class="track-info">
              <h5>
                <strong>{{track.track.name}}</strong>
              </h5>
              <p>
                <button class="artist-link" (click)="search(track.track.artists[0].name)">
                  {{track.track.artists[0].name}}
                </button>
                <span *ngIf="track.track.artists[1]">
                  &
                  <button class="artist-link" (click)="search(track.track.artists[1].name)">
                   {{track.track.artists[1].name}}
                  </button>
                </span>
              </p>
            </div>
            <div class="remove-song">
              <button *ngIf="currentPlaylist.public" class="" mat-icon-button color="warn">
                <mat-icon (click)="removeTrack(user.id, track.track, currentPlaylist.id)">clear</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="no-tracks" *ngIf="!tracks">
        <h3>
          No tracks available.
        </h3>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="search-results">
      <mat-tab-group>
        <mat-tab label="Tracks">
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">play_arrow</mat-icon>
            Tracks
          </ng-template>

          <div *ngIf="!!searchLoading" class="search-loading">
            <img src="/assets/img/loading.svg" alt="">
          </div>

          <div *ngIf="!searchLoading">
            <mat-card class="track-box" *ngFor="let track of searchTracks">
              <mat-progress-bar color="primary" mode="determinate" [value]="track.popularity"></mat-progress-bar>
              <div class="track-box-contents">
                <div class="add-song">
                  <button mat-icon-button color="primary">
                    <mat-icon (click)="addTrackToSelectedPlaylists(track.id)" class="">add</mat-icon>
                  </button>
                </div>
                <div class="album-image">
                  <img *ngIf="!!track.album.images[2]" src="{{track.album.images[2].url}}" alt="">
                  <img *ngIf="!track.album.images[2]" src="/assets/img/logo.png" alt="">
                </div>
                <div class="track-info">
                  <h6>
                    <strong>{{track.name}}</strong>
                  </h6>
                  <p>
                    <button class="artist-link" (click)="search(track.artists[0].name)">
                      {{track.artists[0].name}}
                    </button>
                    <span *ngIf="track.artists[1]">
                      &
                      <button class="artist-link" (click)="search(track.artists[1].name)">
                        {{track.artists[1].name}}
                      </button>
                    </span>
                  </p>
                </div>
                <div class="remove-song">
                </div>
              </div>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab label="Playlists">
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">queue_music</mat-icon>
            Playlist
          </ng-template>

          <div *ngIf="!!searchLoading" class="search-loading">
            <img src="/assets/img/loading.svg" alt="">
          </div>

          <div *ngIf="!searchLoading">
            <mat-card class="search-results-playlist" *ngFor="let playlist of searchPlaylists">
              <div class="playlist-title">
                <h6>{{playlist.name}}</h6>
              </div>
              <div class="playlist-actions">
                <button (click)="getPlaylistsSongs(user.id, playlist)" mat-button>OPEN</button>
                <button mat-icon-button color="primary">
                  <mat-icon (click)="subscribeToPlaylist(user.id, playlist)">add</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
