.mat-dialog-container {
  overflow: hidden !important;
}

.modal-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 10px;
}

.album-image {
  border: 1px solid #3FA23F;
  margin-right: 20px;
  margin-left: 15px;
  min-width: 50px !important;
  min-height: 50px !important;
  overflow: hidden;
  border-radius: 10px;

  img {
    min-width: 50px !important;
    min-height: 50px !important;
    max-width: 50px !important;
    max-height: 50px !important;
  }
}

.track-box {
  margin: 10px auto;
  position: relative;
  min-width: 70%;
  padding: 0;

  p {
    display: inline;
    color: darken(white, 20%);
  }

  .track-box-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px;

    .track-info {
      align-items: center;
      justify-content: flex-start !important;
      min-width: 1px;
      position: relative;
      height: 100%;
    }

    .add-song {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 30px;
      height: 100%;
    }

    .artist-link {
      padding: 0;
      border: none;
      background-color: inherit;
      color: #cccccc;
    }

    .artist-link:hover {
      color: #3FA23F;
    }

    .remove-song {
      display: flex;
      flex: 1 0 auto;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
    }
  }
}

.playlist-card {
  min-width: 300px;
  min-height: 300px;
  margin-right: 10px;

  mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

mat-progress-bar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.track-card {
  min-width: 330px;
  max-width: 400px;
  width: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;

  .track-card-contents {
    padding: 16px;
  }

  mat-card-header {
  }

  h6 {
    color: darken(white, 20%)
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 200px;
  }
}

.slider-container {
  border: 1px solid #3FA23F;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: auto;
  text-align: center;
}

::ng-deep .dark-snackbar {
  background: #3FA23F !important;
  color: black !important;
}

::ng-deep .warn-snackbar {
  background: #FB2407 !important;
  color: black !important;
}
