.row {
  width: 100%;
  padding-top: 10px;
}

.column-header {
  text-align: center;
}

.example-card {
  //max-width: 40vw;
}
.scrollable-playlist {
  //max-width: 40vw;
  max-height: calc(100vh - 130px);
  overflow-y: scroll;
  margin: 0;
}
mat-card {
  margin: 10px;
}
mat-card-actions {
  form {
    display: inline;
  }
}
mat-icon {
  cursor: pointer;
  float: right;
  margin-top: -13px;
  margin-right: -13px;
  margin-bottom: -13px;
  margin-left: -13px;
}
.no-tracks {
  text-align: center;
}
.selected-playlist {
  max-height: calc(100vh - 130px);
  overflow-y: scroll;
}
