.example-card {
  max-width: 400px;
}
.scrollable-playlist {
  max-width: 400px;
  max-height: 720px;
  overflow-y: scroll;
  margin: 0;
}
mat-card {
  margin: 10px;
}
mat-card-actions {
  form {
    display: inline;
  }
}
mat-icon {
  cursor: pointer;
  float: right;
  margin-top: -13px;
  margin-right: -13px;
  margin-bottom: -13px;
  margin-left: -13px;
}
.no-tracks {
  text-align: center;
}
.selected-playlist {
  max-height: 720px;
  overflow-y: scroll;

  h4 {
    padding-top: 10px;
    text-align: center;
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.track-box:last-child {
  border: none;
}

.track-list {
}

.track-list.cdk-drop-list-dragging .track-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
  margin: 10px;
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  border-radius: 5px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
