.container-fluid {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-box {
    padding: 20px;
    min-width: 40%;
    height: 60%;
    background-color: #424242;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
      width: 250px;
      height: auto;
    }

    button {
      h3 {
        float: left;
      }
      img {
        padding-left: 10px;
        width: 50px;
        height: auto;
        float: right;
      }
    }
  }
}
