mat-toolbar {
    padding-left: 28px;
    img {
        max-width: 50px;
        max-height: 50px;
    }
    span {
        color: white;
        padding-left: 10px;
    }
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 230px;
    background-color: black;
}

#sidebar-nav {
    .mat-icon {
        padding-left: 8px;
    }
    .text {
        padding-left: 24px;
    }
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
