<div class="fluid-container">
  <h2>Spotify Featured Playlists</h2>
  <div class="featured">
    <mat-card
      *ngFor="let playlist of featuredPlaylists"
      class="playlist-card">

      <mat-card-header>
        <mat-card-title>
          <h6>{{playlist.name}}</h6>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="!!playlist.images[0] ? playlist.images[0].url : '/assets/img/logo.png'" alt="">
      <mat-card-actions class="playlist-actions">
        <button (click)="previewPlaylist(playlist)" mat-button>OPEN</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <h2>Recommended based on tracks you listen to</h2>

  <div class="recommend-controls">
    <form [formGroup]="form" action="">
      <mat-card class="slider-container">
        <div>
          <h4>Loudness</h4>
          <mat-slider
            formControlName="loudness"
            color="primary"
            [displayWith]="dbLabel"
            thumbLabel
            max=0
            min=-60
            step=1>
          </mat-slider>
        </div>
        <div>
          <h4>Danceablility</h4>
          <mat-slider
            formControlName="danceability"
            color="primary"
            thumbLabel
            max=1
            min=0
            step=0.1>
          </mat-slider>
        </div>
        <div>
          <h4>Energy</h4>
          <mat-slider
            formControlName="energy"
            color="primary"
            thumbLabel
            max=1
            min=0
            step=0.1>
          </mat-slider>
        </div>
        <div>
          <h4>Positivity</h4>
          <mat-slider
            formControlName="positivity"
            color="primary"
            thumbLabel
            max=1
            min=0
            step=0.1
            >
          </mat-slider>
        </div>
      </mat-card>
    </form>
  </div>

  <div *ngIf="loading" class="loading">
    <img src="/assets/img/loading_large.svg" alt="">
  </div>

  <div *ngIf="!loading" class="recommended">
    <mat-card class="track-box" *ngFor="let track of recommendedTracks">
      <mat-progress-bar color="primary" mode="determinate" [value]="track.popularity"></mat-progress-bar>
      <div class="track-box-contents">
        <div class="add-song">
          <button mat-icon-button color="primary">
            <mat-icon (click)="addTrackToLibrary(track.uri)" class="">add</mat-icon>
          </button>
        </div>
        <div class="album-image">
          <img [src]="!!track.album.images[2] ? track.album.images[2].url : '/assets/img/logo.png'" alt="">
        </div>
        <div class="track-info">
          <h5>
            <strong>{{track.name}}</strong>
          </h5>
          <p>
            <button class="artist-link" (click)="search(track.artists[0].name)">
              {{track.artists[0].name}}
            </button>
            <span *ngIf="track.artists[1]">
              &
              <button class="artist-link" (click)="search(track.artists[1].name)">
               {{track.artists[1].name}}
              </button>
            </span>
          </p>
        </div>
        <div class="remove-song">
        </div>
      </div>
    </mat-card>
  </div>
</div>
